body {
  background: url("media/day.jpg");
  background-size: cover;
}
.dark {
  background: url("media/night.jpg");
  background-size: cover;
  color: white;
}
h1 {
  padding: 10px;
}
#city {
  font-size: 60px;
}
h4 {
  text-align: right;
  margin-right: 20px;
  font-size: 10px;
}
p {
  margin-top: 5px;
  color: rgb(19, 34, 66);
}
.dark p {
  color: white;
}
form {
  float: left;
  margin-right: 3px;
}
.footer {
  font-size: 20px;
  font-family: "M PLUS Code Latin", sans-serif;
}
.footer a {
  color: black;
  text-decoration: none;
}
.dark .footer a {
  color: white;
  text-decoration: none;
}
#city-input {
  width: 200px;
  height: 30px;
  visibility: visible;
  border-radius: 10px;
  border-width: 0.1px;
  padding: 3px 12px 3px 12px;
}
#search {
  background: rgb(42, 133, 236);
  border: rgb(12, 141, 247);
  border-radius: 6px;
  font-size: 20px;
}
#search:hover {
  background: rgb(1, 3, 26);
}
.dark #search {
  background: rgb(74, 5, 138);
}
.dark #search:hover {
  background: rgb(216, 15, 149);
}
#current-city {
  background: rgb(42, 133, 236);
  border: rgb(12, 141, 247);
  border-radius: 6px;
  font-size: 20px;
  float: left;
  margin-right: 100px;
}
#current-city:hover {
  background: rgb(1, 3, 26);
}
.dark #current-city {
  background: rgb(74, 5, 138);
}
.dark #current-city:hover {
  background: rgb(216, 15, 149);
}
.container-sm {
  padding: 30px 40px;
  margin-top: 50px;
  font-size: 24px;
  background-color: white;
  border-radius: 20px;
  font-family: "Cabin", sans-serif;
}
.dark .container-sm {
  background-color: #1d181f;
}
.description {
  font-size: 30px;
}
.description:first-letter {
  text-transform: capitalize;
}
.current-temperature {
  padding-top: 15px;
  font-size: 38px;
}
.current-temperature img {
  margin-right: 5px;
  height: 120px;
  width: 120px;
}
.current-details {
  padding: 20px 30px;
}
#forecast {
  padding: 30px;
}
.weather-forecast {
  margin-top: 20px;
  text-align: center;
  width: 100%;
}
.weather-forecast-date {
  font-size: 24px;
}
.weather-forecast-temperature {
  font-size: 16px;
}
.weather-forecast-temperature-min {
  color: grey;
}
label {
  width: 120px;
  height: 50px;
  position: relative;
  display: block;
  background: #ebebeb;
  border-radius: 200px;
  box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.4),
    inset 0px -5px 15px rgba (255, 255, 255, 0.4);
  cursor: pointer;
  transition: 0.3s;
}
label:after {
  content: "";
  width: 50px;
  height: 50px;
  position: absolute;
  margin: auto;
  display: block;
  top: 1px;
  left: 1px;
  background: linear-gradient(180deg, #ffcc89, #d8860b);
  border-radius: 50px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}
input {
  width: 0;
  height: 0;
  visibility: hidden;
}
input:checked + label {
  background: #242424;
}
input:checked + label:after {
  left: 120px;
  transform: translateX(-100%);
  background: linear-gradient() (180deg, #777, #3a3a3a);
}
label:active:after {
  width: 50px;
}
label svg {
  position: absolute;
  width: 40px;
  top: 5px;
  z-index: 60;
}
label svg.sun {
  top: 5px;
  left: 5px;
  fill: #fff;
  transition: 0.3s;
}
label svg.moon {
  top: 5px;
  left: 75px;
  fill: #7e7e7e;
  transition: 0.3s;
}
input:checked + label svg.sun {
  fill: #7e7e7e;
}
input:checked + label svg.moon {
  fill: #fff;
}
@media only screen and (max-width: 576px) {
  body {
    font-size: 10px !important;
  }
  h1 {
    font-size: 40px !important;
  }
  h4 {
    font-size: 18px !important;
  }
  #city-input {
    width: 120px;
    height: 30px;
  }
  .container-sm {
    padding: 20px 20px;
    margin-top: 30px;
    font-size: 18px;
    font-family: "Cabin", sans-serif;
  }
  #current-city {
    font-size: 14px !important;
  }
  #search {
    font-size: 14px !important;
  }
  .footer {
    font-size: 16px !important;
  }
}
